{{ form_start(form) }}
    <div class="sn-admin-form">
        <div class="sn-admin-form-errors">{{ form_errors(form) }}</div>

        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.exercise, {
                    label: 'Exercice associe',
                    row_attr: {class: 'form-group sn-admin-field'},
                    label_attr: {class: 'sn-admin-label'},
                    attr: {class: 'form-control sn-admin-input'}
                }) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.title, {
                    label: 'Titre de la ressource',
                    row_attr: {class: 'form-group sn-admin-field'},
                    label_attr: {class: 'sn-admin-label'},
                    attr: {class: 'form-control sn-admin-input'}
                }) }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.mediaType, {
                    label: 'Type de ressource',
                    row_attr: {class: 'form-group sn-admin-field'},
                    label_attr: {class: 'sn-admin-label'},
                    attr: {class: 'form-control sn-admin-input'}
                }) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.url, {
                    label: 'Lien externe',
                    row_attr: {class: 'form-group sn-admin-field'},
                    label_attr: {class: 'sn-admin-label'},
                    attr: {class: 'form-control sn-admin-input'}
                }) }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.durationSeconds, {
                    label: 'Duree (secondes)',
                    row_attr: {class: 'form-group sn-admin-field'},
                    label_attr: {class: 'sn-admin-label'},
                    attr: {class: 'form-control sn-admin-input'}
                }) }}
            </div>
        </div>

        {{ form_row(form.content, {
            label: 'Contenu ou consignes',
            row_attr: {class: 'form-group sn-admin-field'},
            label_attr: {class: 'sn-admin-label'},
            attr: {class: 'form-control sn-admin-input sn-admin-textarea'}
        }) }}

        <div class="sn-admin-form-footer">
            <p class="sn-admin-form-note">Associez une ressource claire pour accompagner la pratique de l'exercice.</p>
            <button class="sn-btn sn-btn-primary sn-admin-btn" type="submit">{{ button_label|default('Enregistrer') }}</button>
        </div>

        {{ form_rest(form) }}
    </div>
{{ form_end(form, {'render_rest': false}) }}
