<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Serinity{% endblock %}</title>

        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('argon/css/nucleo-icons.css') }}">
        <link rel="stylesheet" href="{{ asset('argon/css/font-awesome.css') }}">
        <link rel="stylesheet" href="{{ asset('argon/css/argon-design-system.min.css') }}">
        <link rel="stylesheet" href="{{ asset('argon/css/serinity-overrides.css') }}">
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}

        {% block javascripts %}
            <script src="{{ asset('argon/js/argon-design-system.min.js') }}"></script>
        {% endblock %}
    </body>
</html>