{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

    <div class="form-group">
        {{ form_label(form.name, 'Influence name', {'label_attr': {'class': 'form-control-label'}}) }}
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}

        {% if form_errors(form.name) %}
            <div class="text-danger text-sm mt-2">
                {{ form_errors(form.name) }}
            </div>
        {% endif %}
    </div>

    <div class="mt-4">
        <button class="btn btn-primary">
            {{ button_label|default('Save') }}
        </button>
    </div>

{{ form_end(form) }}