{% extends 'admin/base_admin.html.twig' %}

{% block title %}Influence details{% endblock %}

{% block admin_content %}
    <div class="card shadow mb-4">
        <div class="card-header border-0">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="mb-0">Influence details</h3>
                </div>
                <div class="col text-right">
                    <a href="{{ path('app_admin_influence_index') }}" class="btn btn-sm btn-outline-primary">
                        Back to list
                    </a>
                    <a href="{{ path('app_admin_influence_edit', {'id': influence.id}) }}" class="btn btn-sm btn-primary">
                        Edit
                    </a>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table align-items-center table-flush mb-0">
                <tbody>
                    <tr>
                        <th scope="row" class="w-25">Id</th>
                        <td>{{ influence.id }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Name</th>
                        <td>{{ influence.name }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card shadow">
        <div class="card-body">
            {{ include('admin/influence/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}